@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable {
  min-height: 300px;
}

@media (min-width: 1260px) and (max-width: 1290px) {
    .custom-width {
      width: 95%;
    }
  }

  @media  (max-width: 760px) {
    table {
      width: 400px !important;
    }
  }

  .prose {
    width: 100%;
  }

  h2 {
     color: black;
    font-weight: 600;
    font-size: 16pt;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .prose h2 {
    color: black;
    font-weight: 600;
    font-size: 16pt;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .p {
    margin-bottom: 10px;
  }

  .prose p {
    margin-bottom: 10px !important;
  }

  table {
  width: 100%;
  border-collapse: collapse;
}

.ck-content figure.table {
  width: 100%;
}

figure {
  width: 100% !important;
   margin-top: 10px;
   margin-bottom: 20px;

}

table, 
table th, 
table td {
  border: 1px solid #000; /* Black borders */
}

table th,
table td {
  padding: 8px;
  text-align: left;
}


  ul {
    list-style: disc;
  }

  li {
    list-style: disc;
  }

  ol {
        padding-inline-start: 20px !important;
  }

  a > em > span {
    color: blue !important;
  }

  a > span {
    color: blue !important;
  }