@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

@media (min-width: 1260px) and (max-width: 1290px) {
    .custom-width {
      width: 95%;
    }
  }

  ul {
    list-style: disc;
  }

  li {
    list-style: disc;
     list-style-type: decimal;
  }

  ol {
        padding-inline-start: 20px !important;
  }