

body {
  font-family: "Montserrat", sans-serif;
}

.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable {
  min-height: 300px;
}
/* hide-scroll.css */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (min-width: 1260px) and (max-width: 1290px) {
  .custom-width {
    width: 95%;
  }
}

@media (max-width: 760px) {
  table {
    width: 400px !important;
  }
}

.prose {
  width: 100%;
}

h2 {
  color: black;
  font-weight: 600;
  font-size: 16pt;
  padding-top: 10px;
  padding-bottom: 5px;
}

h3 {
  color: black;
  font-weight: 500;
  font-size: 14pt;
  padding-top: 10px;
  padding-bottom: 5px;
}

.prose h2 {
  color: black;
  font-weight: 600;
  font-size: 16pt;
  padding-top: 10px;
  padding-bottom: 5px;
}

.p {
  margin-bottom: 10px;
}

.prose p {
  margin-bottom: 10px !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.ck-content figure.table {
  width: 100%;
}

figure {
  width: 100% !important;
  margin-top: 10px;
  margin-bottom: 20px;
}

table,
table th,
table td {
  border: 1px solid #000; 
}

table th,
table td {
  padding: 8px;
  text-align: left;
}

ul {
  list-style-type: disc;
  margin-left: 1.25rem;
  padding-left: 1.25rem;
}

ol {
  list-style-type: decimal;
  margin-left: 1.25rem;
  padding-left: 1.25rem;
}

li {
  display: list-item;
}

a > em > span {
  color: blue !important;
}

a > span {
  color: blue !important;
}

a > u {
  color: blue !important;
}
